<!doctype html>
<html>
<head>
    <title>Lyric Ipsum!</title>
    <link rel="stylesheet" href="application.css" type="text/css">
</head>

<body>
    <img src="lyric_ipsum2.png">

      <form class="" action="/result" method="POST">
        <label for="artist">Enter a band: </label>
        <input type="text" name="artist" id="artist" placeholder="ex Nirvana">

        <label for="song">And enter a song: </label>
        <input type="text" name="song" id="song" placeholder="ex Smells Like Teen Spirit">

        <label for="paragraphs">How many paragraphs do you need?</label>
        <input type="number" name="paragraphs" id="paragraphs" min="1" value="4">

        <label for="latin-on">Latin: </label>
        <input type="radio" name="latin" id="latin-on">
        <label for="latin-off">No latin: </label>
        <input type="radio" name="latin" id="latin-off">

        <input type="submit">
      </form>

    <h2>we make internets, and so do you.</h2>

</body>
</html>
