<!doctype html>
<html>
<head>
    <title>Lyric Ipsum!</title>
    <link rel="stylesheet" href="application.css" type="text/css">
</head>

<body>
    <header>
      <img src="lyric-ipsum2.png">
    </header>

        <form class="" action="/result" method="POST">
            <label for="artist">Enter a band: </label>
            <input type="text" name="artist" id="artist" placeholder="ex Nirvana">

            <label for="song">And enter a song: </label>
            <input type="text" name="song" id="song" placeholder="ex Smells Like Teen Spirit">

            <label for="paragraphs">How many paragraphs do you need?</label>
            <input type="number" name="paragraphs" id="paragraphs" min="1" value="4">

            <input type="submit">
        </form>

      <h2>we make internets, and so do you.</h2>

</body>
</html>
