<link rel="stylesheet" href="application.css" type="text/css" />
<h1>we make internets. and so do you.</h1>

<form class="" action="/songmeanings" method="POST">
  Enter a band: <input type="text" name="band">
  <br>
  And enter an album: <input type="text"  name="enter">

  How many paragraphs do you need?
  <input type="radio" name="1para" value="1">1<br>
  <input type="radio" name="2para" value="2">2<br>
  <input type="radio" name="3para" value="3">3<br>
  <input type="radio" name="4para" value="4">4<br>
  <input type="submit">
</form>