<!doctype html>
<html>
<head>
    <title>Lyric Ipsum!</title>
    <link rel="stylesheet" href="application.css" type="text/css">
</head>

<body>
    <h1>we make internets. and so do you.</h1>

    <form class="" action="/result" method="POST">
        <label for="band">Enter a band: </label>
        <input type="text" name="band" id="band">

        <label for="song">And enter a song: </label>
        <input type="text" name="song" id="song">

        <label for="paragraphs">How many paragraphs do you need?</label>
        <input type="number" name="paragraphs" id="paragraphs" min="0" value="2">

        <input type="submit">
    </form>
</body>
</html>
