<!doctype html>
<html>
<head>
    <title>Lyric Ipsum!</title>
    <link rel="stylesheet" href="application.css" type="text/css">
</head>

<body>
    <h1>You asked for <%= @album %> from <%= @band %>:</h1>

    <div class="result">
        <p>Your Ipsum: <%= @result %></p>
    </div>
</body>
</html>
