<html>
	<head>
		<link rel="stylesheet" href="application.css" type="text/css" />
		<title>lyric ipsum!</title>
		<div class="form">
			<h1>You asked for <%= @album %> from <%= @band %>:</h1>
	    </div>
	</head>

  <body>
  	<p class="">
  		<h6>Your Ipsum: <%= @result %></h6>
  	</p>
	</body>
</html>