<!doctype html>
<html>
<head>
    <title>Lyric Ipsum!</title>
    <link rel="stylesheet" href="application.css" type="text/css">
</head>

<body>
    <h1>Here:</h1>

    <h2><%= @no_song %></h2>

    <div class="result">
        <p><%= @result %>.</p>
    </div>
</body>
</html>
