<!doctype html>
<html>
<head>
    <title>Voilà</title>
    <link rel="stylesheet" href="application.css" type="text/css">
</head>

<body>
    <h1>voilà!:</h1>

    <div class="result">
        <p>Your Ipsum: <%= @result %></p>
    </div>
</body>
</html>
