@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
	font-family: 'Open Sans', Verdana, Tahoma;
}

div.form {
	height: 400px;
    width: 350px;
    padding: 25;
    border: 2px dotted #2F2A38;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
	background-color: #BD9DF5;
}

h6 {
	margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #8340F7;
    text-align: center;
    padding: 10px;
}
